
{{#if categories}}
    <h2 class="{{h2.className}}">{{h2.text}}</h2>
{{/if}}
{{#if pomodoros}}
    <h2 class="{{h2.className}}">{{h2.text}}</h2>
{{/if}}
{{#if timerPage}}
    <h2 class="{{h2.className}}">{{h2.text}}</h2>
{{/if}}

